{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

		
    </head>
<body>

<section class="container mt-4 mb-4">
<div class="container">
	<div class="row mb-3">

		{% for student in Profile_list %}

		<div class="col-md-6">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
	  			    <img src="{{ student.Image.url }}" class="img-thumbnail border-0" />
	  				
	  			</div>
	  			<div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
	  					<h4 class="text-primary">{{student.First_name}}</h4>
	  					<h5 class="text-info">{{student.Student_id}}</h5>
	  					<ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
	  						<li><i class="fab fa-facebook-square"></i> {{student.Current_age}}</li>
	  						<li><i class="fab fa-twitter-square"></i> {{student.Gender}}</li>
	  					</ul>
						<p class="text-right m-0"><a href="{%url 'home':'details' student%}" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
				</div>
			</div>
		</div>

		{% endfor %}

</div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
</body>
</html>